header {
  align-items: center;
  background-color: rgb(180, 33, 33);
  background-image: url('../images/star-wars-death-star-earth.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

h2 {
  color: white;
  font-size: 35px;
  font-weight: 1000;
  padding: 15px;
  text-align: center;
  width: 100%;
}

input {
  background-color: white;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

select {
  margin-top: 10px;
}

label {
  color: black;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}

button {
  font-size: 15px;
  font-weight: 800;
  margin-top: 10px;
  padding: 5px;
}

.select-filter {
  background-color: white;
  font-size: 20px;
  text-align-last: center;
}

.container {
  display: flex;
  font-size: 20px;
  font-weight: 800;
  justify-content: space-evenly;
  margin-top: 20px;
  width: 100%;
}

.filter-container {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  text-align: center;
  width: 45%;
}

.sort-container {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  text-align: center;
  width: 45%;
}

.radio-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding: 5px;
  width: 50%;
}

.select-order {
  background-color: white;
  font-size: 20px;
  text-align-last: center;
}
